html {
    scroll-behavior: smooth;
}
#contentcontainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.3fr 1.5fr;
    background-color: rgb(206, 203, 203);
}

.hide {
    display: none;
}
body {
    background-color:rgb(128, 128, 128) ;
    background-repeat: no-repeat;
    background-size: cover;
}
a {
    text-decoration: none;
}

.nav-item {
    display: inline;
    padding: 5px;
    
}

.nav-container {
    text-align: center;
}

.selfie {
    border-radius: 50%;
    height: 250px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* padding-top: 50px; */
}
.homepage {
    text-align: center;
    /* padding-top: 30px; */
}

.aboutpage {
    text-align: center;
    /* padding-top: 200px; */
}
.aboutsnippet {
    text-align: center;
    padding-left: 5vw;
    padding-right: 5vw;
}

.aboutsnippet p {
    text-align: center;
}

#aboutme {
    background-color: rgb(206, 203, 203);
}

.nav-menu {
    background-color: rgb(206, 203, 203);
}

.projectpage {
    text-align: center;
    /* padding-top: 200px; */
}

.contactpage {
    text-align: center;
    grid-row: 3;
    margin-top: 200px;
}

.card {
    background-color: rgb(206, 203, 203);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    display: block;
    margin: 30px;
    
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container {
    padding: 2px 16px;
  }
.cardsection {
    display: grid;
    column-gap: 30px;
    grid-template-rows: 1.5fr 1.5fr 1.5fr;
    margin-left: 20px;
    margin-right: 20px;
}
input {
    width: 70%;
    box-sizing: border-box;
    padding: 12px 20px;
}
textarea {
    box-sizing: border-box;
    width: 70%;
    font-size: 17px;
    
}


@media (min-width: 426px) {
    .aboutsnippet {
        text-align: center;
    }
    #contentcontainer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.8fr 0.5fr 1.5fr;
    }
    .cardsection {
        grid-template-columns: 1.5fr 1.5fr 1.5fr;
        grid-template-rows: 1fr;
    }
    .nav-menu img {
        display: none;
    }
    .nav-list {
        display: unset;
    }
    .homepage {
        margin-top: 90px;
    }
    /* .nav-container {
        margin-top: 50px;
    } */
    input {
        width: 30%;
        box-sizing: border-box;
        padding: 12px 20px;
    }
    textarea {
        box-sizing: border-box;
        width: 50%;
        font-size: 17px;
    }
    .nav-item {
        padding: 15px;
    }
}