.nav-item {
    display: inline;
    padding: 5px;
    
}

.nav-container {
    text-align: center;
}

.selfie {
    border-radius: 50%;
    height: 400px;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.homepage {
    text-align: center;
}